/Resistores/nbproject/private/
/Elecciones/nbproject/private/
/Elecciones/build/
/DaviviendaParcial/nbproject/private/
/DaviviendaParcial/build/
/Pruebas/nbproject/private/
/ListasDobles/nbproject/private/
/ListasDobles/build/
/Parqueadero/nbproject/private/
/Parqueadero/build/
/Restaurant/nbproject/private/
/Restaurant/build/
/Practica/nbproject/private/
/Practica/build/
/ProyectoParcial/nbproject/private/
/Parcial N°2 Estructura/nbproject/private/
/Parcial N°2 Estructura/build/
/Exposicion/nbproject/private/
/Exposicion/build/
/Primos/nbproject/private/
/Primos/build/
/Ultimo_Taller/nbproject/private/
/Ultimo_Taller/build/
/Examen_Final/nbproject/private/
/Examen_Final/build/